

<div class="gn-footer-placeholder"></div>
<footer class="gn-footer">
    <ul>
        <li>
            <a href="#" class="nav-link">
                <span>Trắc địa bản đồ</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span>Học Viện Kỹ Thuật Quân Sự</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span>Địa Tin Học</span>
            </a>
        </li>
    </ul>
</footer>

<script>
    (function () {
        const footer = document.querySelector('.gn-footer');
        const footerPlaceholder = document.querySelector('.gn-footer-placeholder');
        function resize() {
            if (footerPlaceholder && footer) {
                footerPlaceholder.style.height = footer.clientHeight + 'px';
            }
        }
        window.addEventListener('resize', resize);
        window.addEventListener('DOMContentLoaded', resize);
        resize();
    })();
</script>